./.vs/*
/.vs/PlanningApplication/FileContentIndex/*.vsidx
/vs/PlanningApplication

/.vs/PlanningApplication/v17
/.vs/PlanningApplication/config/applicationhost.config
/.vs/PlanningApplication/v17/DocumentLayout.json
